/* CSS Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.logo{
    display: flex;
    align-items: start;
    gap: 10px;
}
.logo img {
    height: 50px;
}
.buy-tickets {
    background-color: orange;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}
.nav-menu {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.search-icon{
    height: 20px;
    cursor: pointer;
}
.login{
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}